# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
!/build.gradle
!/pom.xml
!/settings.gradle
.gradle/6.4.1/vcsMetadata-1/
build/generated/
build/tmp/compileJava/
gradle
.gradle
target
