#请勿随意修改配置文件，否则会导致插件出现各种奇怪的BUG
#当出现缺少路径时，配置文件将会重置

#此内容请勿修改！！！
ConfigVersion: 1.1

#自动检查更新功能 强烈建议开启！！！
#自动检查更新，若发现此版本存在重大BUG（如刷物品、卡服之类的）会自动停用本插件，并提醒升级至最新版
#同时提醒你更新插件
checkupdate: true

#插件聊天栏前缀
prefix: §b[VoteRebbot]

#是否启用VoteReboot。若为false,插件将会自动关闭。
EnablePlugin: true

#设置当投票玩家的频率（四舍五入）为rate时，服务器重启。比如，当rate为0.6，在线玩家为10时，只需要6名玩家投“是”票即可重启。
#rate默认为0.6
rate: 0.6

#重启方式 1:在控制台发送指定命令  2.在终端(cmd)发送指定命令
#默认为1
way: 1
#在控制台发送的命令 当way=1时该配置项有效
cc: stop
#在终端(cmd)发送的命令 当way=2时该配置项有效
ccwl: sh restart.sh
#重启前是否保存游戏
save: true
#保存命令 默认save-all
savec: save-all

#是否禁止一个IP不同ID的玩家投多次票
#如果你的服务器没有使用FRP，建议开启此功能
IPCheck: false

#重启等待时间 默认为10秒
rs: 10

#是否启用挂机检测 启用后可以防止挂机玩家影响投票
#虽然检测不会占用主线程 但目前仍然不确定该功能是否会对服务器的性能造成影响
#若该功能影响了服务器性能 请将其关闭 并报告给插件作者 插件作者会进行改进
checkplayer: true
#未操作多少秒后判定为挂机 默认为300 当checkplayer为false时该配置项没有用处
s: 300
#检测到挂机玩家后是否通知所有玩家 当checkplayer为false时该配置项没有用处
notice: true